/*
Style file for the paint tool.
Date: 2021-02-28
Author: Mickey Beurskens

    Index
    1.0 - Buttons
*/

/* 1.0 - Buttons */
.paint-button {
    height: 25px;
    width: 100px;
}

.paint-button-flex {
    display: flexbox;
}
