<html>
    <head>
      {% if title %}
      <title>{{ title }} - DnD CoPlay </title>
      {% else %}
      <title>Welcome to DnD CoPlay</title>
      {% endif %}
        <link rel="stylesheet" href="static/paint.css">
    </head>
    <body>
        <div>DnD CoPlay: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/paint.js"></script>
    </body>
</html>