{% extends "base.html" %}

{% block content %}
    <div>
        <canvas id="paint" width="{{canvas_width}}" height="{{canvas_height}}"
            style="border: 5px solid #000000;">Update browser to support HTML5 Canvas</canvas>
    </div>

    <div class="paint-button-flex">
        <button class="paint-button" id="brush" type="button" onclick="brush()">Brush</button>
        <button class="paint-button" id="eraser" type="button" onclick="eraser()">Eraser</button>
    </div>
{% endblock %}
